@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Poppins", sans-serif;
}

.banner {
    background-image: url(/public/images/banner.svg);
    background-size: cover;
    background-position: center;
    /* height: 90vh; */
    font-family: "Poppins", sans-serif;
}
.banner2 {
    background-image: url(/public/images/banner.svg);
    background-size: cover;
    background-position: center;
    /* height: 50vh; */
    font-family: "Poppins", sans-serif;
}

.drop-shadow-img {
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
    -webkit-filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
}

@media (max-width: 413px) {
    .banner {
        height: 110vh;
    }
    .banner2 {
        height: 10vh;
    }
}

@media (min-width: 414px) {
    .banner {
        height: 80vh;
    }
    .banner2 {
        height: 40vh;
    }
}

@media (max-width: 540px) {
    .banner {
        height: 100vh;
    }

    .banner2 {
        height: 50vh;
    }
}

@media (min-width: 541px) {
    .banner {
        height: 100vh;
    }
    .banner2 {
        height: 50vh;
    }
}

@media (min-width: 640px) {
    .banner {
        height: 100vh;
    }
    .banner2 {
        height: 50vh;
    }
}

@media (min-width: 768px) {
    .banner {
        height: 100vh;
    }
    .banner2 {
        height: 40vh;
    }
}

@media (min-width: 1024px) {
    .banner {
        height: 75vh;
    }
    .banner2 {
        height: 40vh;
    }
}

@media (min-width: 1280px) {
    .banner {
        height: 75vh;
    }
    .banner2 {
        height: 40vh;
    }
}

@media (min-width: 1366px) {
    .banner {
        height: 75vh;
    }
    .banner2 {
        height: 40vh;
    }
}

@media (min-width: 1600px) {
    .banner {
        height: 65vh;
    }
    .banner2 {
        height: 50vh;
    }
}

/* @media screen and (max-width: 340px) {
    .banner {
        height: 75vh;
    }
    .banner2 {
        height: 37vh;
    }
    
}

@media screen and (min-width: 340px) and ( max-width: 374px) {
    .banner {
        height: 75vh;
    }
    .banner2 {
        height: 35vh;
    }
    
}

@media screen and (max-height: 740px) {
    .banner {
        height: 85vh;
    }

    .banner2 {
        height: 45vh;
    }

}

@media screen and (min-width: 375px) and (max-width: 411px) {
    .banner {
        height: 85vh;
    }

    .banner2 {
        height: 35vh;
    }

}

@media screen and (max-width: 375px) and (max-height: 667px) {
    .banner {
        height: 95vh;
    }

    .banner2 {
        height: 45vh;
    }

}

@media screen and (min-width: 412px) and (max-width: 539px) {
    .banner {
        height: 70vh;
    }
    .banner2 {
        height: 35vh;
    }

}

@media screen and (min-width: 425px) and (max-width: 851px) {
    .banner {
        height: 90vh;
    }
    .banner2 {
        height: 37vh;
    }

}

@media screen and (min-width: 540px) and (max-width: 640px) {
    .banner {
        height: 90vh;
    }

}

@media screen and (min-width: 641px) and (max-width: 767px) {
    .banner {
        height: 80vh;
    }

}

@media screen and (min-width: 768px) and (max-width: 819px) {
    .banner {
        height: 70vh;
    }
    .banner2 {
        height: 32vh;
    }

}

@media screen and (min-width: 768px) and (max-height: 851px) {
    .banner {
        height: 90vh;
    }
    .banner2 {
        height: 37vh;
    }

}

@media screen and (min-width: 820px) and (max-width: 911px) {
    .banner {
        height: 60vh;
    }
    .banner2 {
        height: 35vh;
    }

}

@media screen and (min-width: 912px) and (max-width: 1023px) {
    .banner {
        height: 52vh;
    }
    .banner2 {
        height: 35vh;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .banner {
        height: 37vh;
    }
    .banner2 {
        height: 22vh;
    }

}

@media screen and (min-width: 1024px) and (max-height: 851px) {
    .banner {
        height: 57vh;
    }
    .banner2 {
        height: 37vh;
    }

}

@media screen and (max-height: 600px) {
    .banner {
        height: 80vh;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1366px) {
    .banner {
        height: 65vh;
    }

} */
