@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Poppins", sans-serif;
}

.banner {
    background-image: url(/public/images/banner.svg);
    background-size: cover;
    background-position: center;
    height: 60vh;
    font-family: "Poppins", sans-serif;
}
.banner2 {
    background-image: url(/public/images/banner.svg);
    background-size: cover;
    background-position: center;
    height: 60vh;
    font-family: "Poppins", sans-serif;
}

.drop-shadow-img {
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
    -webkit-filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
}

@media screen and (min-width: 340px) and ( max-width: 640px) {
    .banner {
        height: 35vh;
    }
    .banner2 {
        height: 35vh;
    }
    
}

@media screen and (width: 360px) {
    .banner {
        height: 43vh;
    }
    .banner2 {
        height: 43vh;
    }
    
}

@media screen and (min-width: 375px) and ( max-width: 380px) {
    .banner {
        height: 45vh;
    }
    .banner2 {
        height: 45vh;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 820px) {
    .banner {
        height: 65vh;
    }
    .banner2 {
        height: 30vh;
    }

}

@media screen and (min-width: 853px) and (max-width: 912px) {
    .banner2 {
        height: 25vh;
    }

}

@media screen and (width: 1024px) {
    .banner {
        height: 35vh;
    }
    .banner2 {
        height: 25vh;
    }

}
@media screen and (width: 1024px) and (height: 600px) {
    .banner {
        height: 75vh;
    }
    .banner2 {
        height: 55vh;
    }

}

@media screen and (width: 1280px) {
   .banner2 {
        height: 43vh;
    }

}